.login__bg {
  background-image: url(https://play-lh.googleusercontent.com/5CI2GL8QI8Ea3BHz4-uds4AFGmdzAgIYotticY6p-qGonWg4_uPHiggJNl602ePgLw);
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
